/**
 * @Description: 全局通用样式
 * @Author: Edmund
 * @Email: q1592193221@gmail.com
 * @Date: 2019-10-21 12:54:43
 * @LastEditTime: 2019-11-20 12:16:09
 * @LastEditors: Edmund
 */

/* 默认主题颜色变量 */

/* 0-背景颜色 */
$default-bg-black: #1b1b30;
$default-bg-white: rgba(255, 255, 255, 1);
$default-bg-gray: rgba(247, 247, 247, 1);
$default-bg-hover: #f1f1f1; //点击状态颜色
$default-bg-mask: rgba(0, 0, 0, 0.4); //遮罩颜色

/* 0-行为相关颜色 */
$default-color-primary: #007aff;
$default-color-success: #4cd964;
$default-color-warning: #f0ad4e;
$default-color-error: #dd524d;

/* 0-文字基本颜色 */
$default-text-color: #000000; //基本色
$default-text-color-white: #fefefe; // 白色字体
$default-text-color-inverse: rgba(153, 153, 153, 1); //反色
$default-text-color-grey: #999; //辅助灰色，如加载更多的提示信息
$default-text-color-placeholder: #808080;
$default-text-color-disable: #c0c0c0;

/* 0-边框颜色 */
$default-border-color: rgba(204, 204, 204, 1);
$default-border-color-gray: rgba(234, 234, 234, 1);

/* 0-边框颜色 */
$default-border-shadow: #a1a1a1;

/* 尺寸变量 */

/* 文字尺寸 */
$font-size-sm: 24rpx;
$font-size-base: 28rpx;
$font-size-lg: 32rpx;

/* 图片尺寸 */
$img-size-sm: 40rpx;
$img-size-base: 52rpx;
$img-size-lg: 80rpx;

/* Border Radius */
$border-radius-sm: 4rpx;
$border-radius-base: 6rpx;
$border-radius-lg: 12rpx;
$border-radius-circle: 50%;

/* 水平间距 */
$spacing-row-sm: 10rpx;
$spacing-row-base: 20rpx;
$spacing-row-lg: 30rpx;

/* 垂直间距 */
$spacing-col-sm: 8rpx;
$spacing-col-base: 16rpx;
$spacing-col-lg: 24rpx;

/* 透明度 */
$opacity-disabled: 0.3; // 组件禁用态的透明度

/* 文章场景相关 */
$doc-color-title: #2c405a; // 文章标题颜色
$doc-font-size-title: 40rpx;
$doc-color-subtitle: #555555; // 二级标题颜色
$doc-font-size-subtitle: 36rpx;
$doc-color-paragraph: #3f536e; // 文章段落颜色
$doc-font-size-paragraph: 30rpx;

/* 自定义常用样式 */

/* 垂直居中 */
@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
